<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BakewareController</servlet-name>
        <servlet-class>controller.BakewareController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngredientController</servlet-name>
        <servlet-class>controller.IngredientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterSubCategoryController</servlet-name>
        <servlet-class>controller.FilterSubCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBakewareController</servlet-name>
        <servlet-class>controller.SearchBakewareController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>controller.DetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterBakewareController</servlet-name>
        <servlet-class>controller.FilterBakewareController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterIngredientController</servlet-name>
        <servlet-class>controller.FilterIngredientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchIngredientController</servlet-name>
        <servlet-class>controller.SearchIngredientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartQuantityController</servlet-name>
        <servlet-class>controller.UpdateCartQuantityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>controller.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThanksController</servlet-name>
        <servlet-class>controller.ThanksController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BakewareController</servlet-name>
        <url-pattern>/Bakeware</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngredientController</servlet-name>
        <url-pattern>/Ingredient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterSubCategoryController</servlet-name>
        <url-pattern>/filter-subcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBakewareController</servlet-name>
        <url-pattern>/search-bakeware</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterBakewareController</servlet-name>
        <url-pattern>/filter-bakeware</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterIngredientController</servlet-name>
        <url-pattern>/filter-ingredient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchIngredientController</servlet-name>
        <url-pattern>/search-ingredient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/add-to-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartQuantityController</servlet-name>
        <url-pattern>/update-quantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThanksController</servlet-name>
        <url-pattern>/thanks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <fiter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern />
    </fiter-mapping>
    <fiter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern />
    </fiter-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
